@media only screen and (min-device-width: 320px) and (max-device-width: 739px) and (-webkit-min-device-pixel-ratio: 2) {
    content .content {
        font-size: 20px;
        margin-top: 6%;
    }
    content .map {
        height: 200px;
    }
    content .contact-container {
        width: 90%;
        top: 40%;
        height: 60%;
    }
    .contact-container .contact {
        width: 90%;
        margin: 0 auto;
    }
    content .contact-container hr {
        width: 90%;
    }
    content .address .social .social1 {
        width: 100%;
    }
    content .contact-container .address .social {
        flex-direction: column;
        align-items: flex-start;
    }
    body .contact-footer {
        height: 36.5rem;
    }
}

@media only screen and (min-device-width: 520px) and (max-device-width: 739px) and (-webkit-min-device-pixel-ratio: 2) {
    content .map {
        height: 500px;
    }
    content .contact-container {
        width: 90%;
        top: 58%;
        height: 50%;
    }
    body .contact-footer {
        height: 23.5rem;
    }
}

@media only screen and (min-device-width: 740px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
    content .content {
        font-size: 20px;
        margin-top: 6%;
    }
    content .map {
        height: 500px;
    }
    content .contact-container {
        width: 90%;
        top: 60%;
        height: 45%;
    }
    .contact-container .contact {
        width: 90%;
        margin: 0 auto;
    }
    content .contact-container hr {
        width: 90%;
    }
    content .address .social .social1 {
        width: 50%;
    }
    body .contact-footer {
        height: 17rem;
    }
}


/* @media only screen and (max-width: 1440px),
(min-width:1300px) and (-webkit-device-pixel-ratio: 1.25) {
    content .contact-container {
        top: 63%;
    }
    body .contact-footer {
        height: 10rem;
    }
}

@media only screen and (max-width: 1299px),
(min-width:1100px) and (-webkit-device-pixel-ratio: 1.5) {
    content .contact-container {
        top: 85%;
        font-size: 20px;
    }
    content .contact-container .main-name {
        font-size: 30px;
    }
    content .contact-container .address .social {
        font-size: 20px;
    }
    content .contact-container .sub-name {
        font-size: 24px;
    }
    body .contact-footer {
        height: 15rem;
    }
}

@media only screen and (max-width: 1099px),
(min-width:980px) and (-webkit-device-pixel-ratio: 1.75) {
    content .contact-container {
        top: 85%;
        font-size: 20px;
    }
    content .contact-container .main-name {
        font-size: 30px;
    }
    content .contact-container .address .social {
        font-size: 20px;
    }
    content .contact-container .sub-name {
        font-size: 24px;
    }
    body .contact-footer {
        height: 13rem;
    }
} */